@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,100,300italic');

@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800');
::selection {
  background: #5f68f3;
  color: #ffffff;
}
::-moz-selection {
  background: #5f68f3;
  color: #ffffff;
}
::-o-selection {
  background: #5f68f3;
  color: #ffffff;
}
::-ms-selection {
  background: #5f68f3;
  color: #ffffff;
}
::-webkit-selection {
  background: #5f68f3;
  color: #ffffff;
}
ol,
ul {
  list-style: none;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: auto;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
div,
p,
h1,
h2,
h3,
span,
li,
ul {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
body .content-wrapper {
  width: 86.5%;
  margin: 45px auto 0px;
  display: block;
}
body .map-wrapper {
  width: 44%;
  height: 100vh;
  display: inline-block;
}
body .data-wrapper {
  width: 58%;
  background: #282828;
  height: 100vh;
  display: inline-block;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  padding-left: 17px;
}
body .data-wrapper .data-nav {
  background: #5797E3;
  width: 82px;
  height: 400px;
  position: absolute;
  left: 0px;
  margin-left: -60px;
}
body .data-wrapper .data-content .data-content-header {
  display: block;
  position: relative;
}
body .data-wrapper .data-content .data-content-header h2 {
  color: white;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
body .data-wrapper .data-content .data-content-header ul.data-toggle {
  width: auto;
  height: auto;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
body .data-wrapper .data-content .data-content-header ul.data-toggle li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.2;
}
body .data-wrapper .data-content .data-content-header ul.data-toggle li img {
  width: 100%;
}
body .data-wrapper .data-content .data-content-header ul.data-toggle li:hover {
  opacity: 1;
}
body .data-wrapper .data-content .data-content-header .content-divider {
  width: 40px;
  height: 4px;
  background: rgba(255, 255, 255, 0.72);
  margin: 20px 0px 30px;
}
body .data-wrapper .data-content .dandelion-data {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 42px;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing {
  width: inherit;
  display: inherit;
  position: inherit;
  margin: 0 auto;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item {
  display: inline-block;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 1px;
  width: 41%;
  margin: 5px;
  margin-left: 0px;
  padding: 18px 24px 8px;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item h3 {
  display: block;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 10px;
  text-transform: uppercase;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item h3 span {
  color: #5797E3;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
  vertical-align: initial;
  margin-right: 5px;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul {
  margin-top: 17px;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul li {
  display: inline-block;
  width: 21%;
  text-align: center;
  margin-right: 15%;
  margin-bottom: 22px;
  min-width: 60px;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul li p {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul li p span {
  display: block;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.6);
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul li h4 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 800;
  font-size: 10px;
  margin-top: 3px;
  letter-spacing: 1px;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul li.multiple-list {
  text-align: left;
  margin-right: 0px;
  width: 55%;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul li.multiple-list p {
  margin-right: 22px;
}
body .data-wrapper .data-content .dandelion-data ul.dandelion-listing li.dandelion-listing-item ul li.multiple-list p:nth-child(3) {
  margin-right: 0px;
}
.clearfix {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.no-box-shadow {
  -webkit-box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0);
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.18);
}
